.signup {
  background-image: url("https://img.freepik.com/free-photo/beach-background-with-cool-pineapples-wearing-headphones_23-2147836098.jpg?w=2000");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1200px;
  width: 100%;
  height: 600px;
}
//https://ak.picdn.net/shutterstock/videos/21337111/thumb/1.jpg