.form-container {
  width: 500px;
  margin: 10px auto;
  border: 1px solid #95a0a7;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.form-title {
  font-size: 35px;
  color: #2a414f;
  text-align: center;
  font-weight: 400;
}
.input-group {
  margin-bottom: 20px;
}
.input-group label {
  display: block;
  margin-left: 5px;
}
.input-group input {
  width: 415px;
  height: 45px;
  border: 1px solid #95a0a7;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 8px;
}
.form-submit {
  width: 415px;
  height: 55px;
  background-color: #fec107;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  margin-bottom: 8px;
  cursor: pointer;
}
.form-submit:hover {
  background-color: skyblue;
}
.form-link {
  color: #ff9900;
}
.line span {
  color: #95a0a7;
}

.checkout {
  background-image: url("https://ak.picdn.net/shutterstock/videos/21337111/thumb/1.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1200px;
  width: 100%;
  height: 600px;
}

@media screen and (max-width: 450px) {
  .form-container {
    width: 350px;
  }
  .input-group input {
    width: 300px;
    margin: 0 auto;
  }
  .form-submit {
    width: 300px;
  }
}
